.container {
  width: 100%;
  max-width: to-rem(1520px);
  margin: 0 auto;
  padding: 0 2rem;

  @include respond(big-tab) {
    padding: 1.5rem;
  }

  @include respond(phone) {
    padding: 1rem;
  }
}
