%btn {
  width: to-rem(35px);
  height: to-rem(35px);
  padding: to-rem(9px);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  top: to-rem(150px);
  z-index: 2;

  @include respond(phone) {
    width: to-rem(25px);
    height: to-rem(25px);
    padding: to-rem(6px);
  }
}

.button {
  border-radius: to-rem(7px);
  border: 2px solid $col-orange;
  height: to-rem(65px);
  width: to-rem(215px);
  margin-right: to-rem(30px);
  color: $col-orange;
  transition: all 0.3s linear;

  @include hero-text;

  @include respond(big-tab) {
    width: to-rem(150px);
    height: to-rem(45px);
    margin-right: to-rem(15px);
  }

  @include respond(phone) {
    width: to-rem(150px);
    height: to-rem(45px);
    margin-right: to-rem(15px);
  }

  @include respond(max-laptop) {
    margin-bottom: to-rem(15px);
  }

  @include respond(smallest-phone) {
    margin-bottom: to-rem(25px);
    width: 100%;
  }

  &--cream {
    background-color: $col-orange;
    color: $col-primary;

    &:hover {
      background: transparent;
      color: $col-orange;
    }
  }

  &--green {
    &:hover {
      background-color: $col-orange;
      color: $col-primary;
    }
  }
}

.prev {
  @extend %btn;

  background-color: $col-primary;
  left: 0;
}

.next {
  @extend %btn;

  background-color: $col-orange;
  right: 0;
}
