.footer {
  &__container {
    display: grid;
    grid-template-columns: 35% 65%;

    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }

  &__details {
    padding: to-rem(50px) to-rem(150px) to-rem(70px) to-rem(70px);
    background-color: $col-white;

    @include respond(laptop) {
      padding: to-rem(40px) to-rem(30px) to-rem(40px) to-rem(40px);
    }

    @include respond(phone) {
      padding: to-rem(40px) to-rem(30px) to-rem(40px) to-rem(40px);
    }
  }

  &__logo {
    margin-bottom: to-rem(20px);
  }

  & p {
    @include footer-text;

    color: $col-primary;
  }

  &__socials-wrapper {
    margin-top: to-rem(30px);

    @include respond(phone) {
      margin-top: to-rem(20px);
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 42%;
    margin-top: to-rem(7px);

    @include respond(laptop) {
      width: 90%;
    }

    @include respond(phone) {
      width: 50%;
    }
  }

  &__social-link {
    background-color: $col-primary;
    display: inline-block;
    width: to-rem(35px);
    height: to-rem(35px);
  }

  &__links {
    background-color: $col-dark-grey-3;
    color: $col-white;
    padding: to-rem(70px) to-rem(150px) to-rem(70px) to-rem(70px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: to-rem(100px);

    @include respond(laptop) {
      padding: to-rem(70px) to-rem(10px) to-rem(50px) to-rem(50px);
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      column-gap: to-rem(40px);
    }

    @include respond(phone) {
      row-gap: to-rem(70px);
      padding: to-rem(70px) to-rem(10px) to-rem(50px) to-rem(50px);
      grid-template-columns: 1fr;
    }

    & ul li {
      @include footer-text;

      color: $col-white;
      margin-bottom: to-rem(10px);

      & a {
        @include footer-text;

        color: $col-white;
        margin-bottom: to-rem(4px);
        display: inline-block;
      }
    }
  }

  &__subtitle {
    @include footer-text;

    font-family: inherit;
    margin-bottom: to-rem(20px);
  }
}
