header {
  background-color: $col-primary;
  width: 100%;
  height: 100vh;

  @include respond(laptop) {
    height: auto;
  }

  .nav {
    display: grid;
    grid-template-columns: 37% 63%;

    @include respond(phone) {
      grid-template-columns: 37% 63%;
    }

    &__logo {
      padding: to-rem(7px);
      margin-right: to-rem(81px);

      @include respond(phone) {
        margin-right: to-rem(1px);
      }

      & img {
        margin: 0 auto;
        width: to-rem(180px);
        height: to-rem(60px);

        @include respond(phone) {
          width: to-rem(150px);
          height: to-rem(50px);
        }
      }
    }

    &__menu {
      height: to-rem(85px);
      color: $col-primary;
      background-color: $col-grey;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 to-rem(100px);
      position: relative;

      @include respond(max-laptop) {
        padding: 0 to-rem(10px);
        height: to-rem(60px);
      }

      @include respond(tab) {
        background-color: transparent;
      }

      & ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include respond(tab) {
          background-color: $col-grey-2;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 40vh;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          transform: translateY(-40vh);
          transition: transform 0.5s;
          z-index: 50;
        }
      }
    }

    &__link {
      @include nav-link;

      color: $col-primary;
      margin: 0 to-rem(30px);
      display: inline-block;
      cursor: pointer;

      @include respond(laptop) {
        margin: 0 to-rem(15px);
      }

      @include respond(tab) {
        margin: to-rem(20px);
      }
    }

    &__icon {
      width: to-rem(20px);
      height: to-rem(30px);
      margin: 0 to-rem(17px);

      @include respond(max-laptop) {
        width: to-rem(15px);
        height: to-rem(20px);
        margin: 0 to-rem(10px);
      }

      @include respond(laptop) {
        width: to-rem(15px);
        height: to-rem(20px);
        margin: 0 to-rem(10px);
      }

      @include respond(tab) {
        display: none;
      }
    }

    // MOBILE MENU BUTTON
    .menu {
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      display: none;

      svg {
        fill: $col-grey-2;
      }

      @include respond(tab) {
        display: block;
        position: absolute;
        z-index: 70;
        right: to-rem(20px);
      }
    }

    .change-color svg {
      fill: $col-primary;
    }

    .active {
      transform: translateY(0);
    }
  }
}

.hero {
  padding: to-rem(32px) 0;
  height: calc(100vh - to-rem(85px));
  display: flex;
  justify-content: space-between;

  @include respond(laptop) {
    height: calc(60vh - to-rem(85px));
  }

  @include respond(big-tab) {
    height: 50vh;
  }

  @include respond(phone) {
    flex-direction: column;
    height: auto;
  }

  &__content {
    padding: to-rem(90px) 0;
    width: 40%;

    @include respond(laptop) {
      width: 70%;
    }
    @include respond(phone) {
      width: 100%;
    }
  }

  &__heading {
    @include heading;

    color: $col-grey-2;
    line-height: 1.2;
    margin-bottom: to-rem(10px);
    text-transform: capitalize;
    letter-spacing: 1px;
    position: relative;
    z-index: 2;

    & span {
      display: block;
    }
  }

  &__text {
    @include hero-text;

    color: $col-grey-3;
    margin-bottom: to-rem(35px);
    margin-top: to-rem(20px);

    @include respond(phone) {
      margin-bottom: to-rem(25px);
    }
  }

  &__image {
    background-image: url("../assets/images/hero-bg.png");
    height: 100%;
    width: to-rem(600px);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @include respond(laptop) {
      width: to-rem(400px);
    }

    @include respond(phone) {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      height: 70px;
      width: 70px;
      background-image: url("../assets/images/yellow-leaf.png");
      background-size: cover;
      bottom: to-rem(-20px);
      left: to-rem(-30px);
    }
  }
}

.green {
  position: relative;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: to-rem(190px);
    background-image: url("../assets/images/green-leaf.png");
    background-size: cover;
    height: to-rem(70px);
    width: to-rem(70px);
    z-index: -1;
  }
}
