// COLORS
$col-primary: #0c3f36;
$col-primary-2: #219653;
$col-orange: #fbc76d;
$col-grey: #f4f4f4;
$col-grey-2: #fdfacd;
$col-grey-3: #f9fffe;
$col-grey-4: #fafbfd;
$col-dark-grey: #6e757e;
$col-dark-grey-2: #4e4e4e;
$col-white: #fff;
$col-red: #ffe3de;
$col-purple: #e7e3ff;
$col-cyan: #def8fd;

// FONTS
$font-heading: "DMSerifDisplay Regular", serif;
$font-regular: "Comfortaa Regular", sans-serif;
$font-bold: "Comfortaa Bold", sans-serif;
