/* stylelint-disable color-function-notation */
section {
  padding-top: to-rem(120px);
}

.about {
  &__divider {
    display: flex;
  }

  &__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: to-rem(40px);
    row-gap: to-rem(20px);
    padding: to-rem(50px);
  }

  &__content {
    margin-top: to-rem(90px);
    margin-left: to-rem(100px);
  }

  &__title {
    @include section-title;

    color: $col-primary;
    margin-bottom: to-rem(30px);
  }

  &__text {
    @include desc-text;

    color: $col-dark-grey;
    margin-bottom: to-rem(30px);
    width: 62%;
  }

  &__button {
    width: to-rem(200px);
    margin-top: to-rem(20px);

    &:hover {
      color: $col-primary;
    }
  }

  &__img {
    &--1 {
      width: to-rem(450px);
      height: to-rem(320px);
    }

    &--2 {
      width: to-rem(190px);
      height: to-rem(270px);
      transform: translateY(to-rem(-50px));
    }

    &--3 {
      width: to-rem(200px);
      height: to-rem(200px);
      transform: translateY(to-rem(-25px));
    }

    &--4 {
      transform: translateY(to-rem(-140px));
    }
  }
}

// INDOOR CATEGORY

.indoor-category {
  &__title {
    @include section-title;

    color: $col-primary;
    margin-bottom: to-rem(60px);
    text-align: center;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, to-rem(370px));
    gap: to-rem(20px);
    width: 80%;
    margin: 0 auto;

    & figure {
      position: relative;
    }

    & figcaption {
      position: absolute;
      bottom: 0;
      height: to-rem(40px);
      background-color: $col-grey-4;
      opacity: 0.7;
      text-align: center;
      color: $col-primary;
      display: grid;
      place-items: center;
    }
  }

  &__image {
    & img {
      width: 100%;
      height: 100%;
    }

    &--1 {
      grid-column: 1 / span 2;

      & figcaption {
        width: 25%;
      }
    }

    &--2 {
      grid-row: span 2;

      & figcaption {
        width: 45%;
      }
    }

    &--3 {
      & figcaption {
        width: 45%;
      }
    }

    &--4 {
      & figcaption {
        width: 45%;
      }
    }
  }

  &__view-more-container {
    text-align: center;
    margin-top: to-rem(90px);
  }

  &__view-more {
    @include nav-link;

    color: $col-primary;
    display: inline-flex;
    align-items: center;
    border-bottom: 2px solid $col-orange;

    & span {
      margin-right: to-rem(5px);
    }

    & svg {
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      & svg {
        transform: translateX(to-rem(2px));
      }
    }
  }
}

// SERVE SECTION

.serve {
  margin-top: to-rem(150px);

  &__title {
    @include section-title;

    color: $col-primary;
    margin-bottom: to-rem(100px);
    text-align: center;
  }

  &__subtitle {
    @include section-title-3;

    color: $col-primary;
    margin-bottom: to-rem(25px);
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(to-rem(200px), 1fr));
    column-gap: to-rem(20px);
  }

  &__feature {
    border-radius: to-rem(12px);
    padding: to-rem(60px) to-rem(30px);
    background-color: $col-white;
    box-shadow: 0 0 3px 10px rgba(255, 255, 255, 70%);
    height: to-rem(450px);

    & img {
      width: to-rem(100px);
      height: to-rem(100px);
      margin-bottom: to-rem(30px);
    }

    &--green {
      background-color: $col-primary;
      box-shadow: 0 3px 3px 1px rgba(7, 20, 15, 70%);

      & h3 {
        color: $col-grey-2;
      }

      & p {
        color: $col-grey;
      }
    }
  }
}

.expendiency {
  margin-top: to-rem(150px);

  &__title {
    @include section-title;

    color: $col-primary;
    margin-bottom: to-rem(80px);
    text-align: center;
  }

  &__subtitle {
    @include section-title-3;

    color: $col-primary;
    margin: to-rem(25px) 0 to-rem(12px) 0;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(to-rem(200px), 1fr));
    column-gap: to-rem(150px);
    margin: 0 auto;
    width: 85%;
  }

  &__feature {
    text-align: center;

    & p {
      @include nav-link;

      color: $col-primary;
    }
  }

  &__illustration {
    width: to-rem(80px);
    height: to-rem(80px);
    border-radius: to-rem(15px);
    padding: to-rem(18px);
    display: grid;
    place-items: center;
    margin: 0 auto;

    & img {
      width: 100%;
      height: 100%;
    }

    &--1 {
      background-color: $col-red;
    }

    &--2 {
      background-color: $col-purple;
    }

    &--3 {
      background-color: $col-cyan;
    }
  }
}

// BRANDS

.brands {
  margin-top: to-rem(150px);
  padding: to-rem(80px) 0;
  background-color: $col-primary;

  &__title {
    @include section-title-2;

    color: $col-white;
    margin-bottom: to-rem(80px);
    text-align: center;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__stories {
    text-align: center;
    margin-top: to-rem(90px);
  }
}
