/* -------------------------- FONTS --------------------------- */

@font-face {
  font-family: "DMSerifDisplay Regular";
  src: url("../assets/fonts/DMSerifDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Comfortaa Regular";
  src: url("../assets/fonts/Comfortaa-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Comfortaa Bold";
  src: url("../assets/fonts/Comfortaa-Bold.ttf") format("truetype");
}
